<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <title>new</title>
</head>
<body>
    <div>
        <h1>Add a Store</h1>
        <form action="/store" method="post">
        <input type="text" name="name" placeholder="Store Name">
        <input type="text" name="type" placeholder="Type">
        <input type="text" name="expensive" placeholder="Expensive?">
        <input type="submit" value="Add Store">
        </form>
    </div>
</body>
</html>