<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" type="text/css">
    <title>Home</title>
</head>
<body>
    <h1>HomePage</h1>
    <nav>
        <a href="/homepage">Home</a>
        <a href="/store">Your Stores</a>
        <a href="/store/lists">Your Lists</a>
        <form action="/logout?_method=DELETE" method="POST">
            <input type="submit" value="Logout">
        </form>
    </nav>
    </body>
</html>