<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css" type="text/css">
    <title>Landing page</title>
</head>
<body>
    <header>
        <h1>List Buddy</h1>
    </header>
    <div class="flexbox">
        <div class="content">
            <h1>Sign in or Register!</h1>
            <br>
            <p>
                <a href="/register">Register</a>
            </p>
            <p>
                <a href="/login">Log in</a>
            </p>
        </div>
    </div>
</body>
</html>