<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h1>Add a new product</h1>
    <form action="/product" method="POST">
        <input type="text" name="name" placeholder="Item Name">
        <input type="text" name="price" placeholder="Price">
        <input type="text" name="category" placeholder="category">
        <select name="store">
                <% store.forEach(store => { %>
                    <option value="<%= store._id %>"><%= store.name %></option>
            <% }) %> 
        </select>
        <input type="submit" value="Add Product">
    </form>
</body>
</html>