* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #823038;
}



h1 {
    font-size: 4em;
}

nav {
    position: relative;
    background-color: #DEBA6F;
    display: flex;
    height: 30px    
}


/* span {
    right: 0;
    background: none;
    font-size: 2em;
    height: 100%;
  
    
} */
nav form {
    position: absolute;
    display: inline;
    height: 100%;
    right: 0;
}
nav input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    right: 0;
    height: 100%;
    width: 100px;
    background-color: skyblue;
    border-style: none;
    font-size: 20px;
    color: white;
}
input:hover {
    cursor: pointer;
}

.models {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    height: 100%;
    border-style: none;
    transition: background-color .7s linear;
    padding-top: 3px;
    opacity: .7;
    padding-left: 15px;
    padding-right: 15px;
}

.models:hover {
    background-color: rgba(0, 0, 255, 0.6);
}