* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #823038;
}



header h1 {
    font-size: 4em;
    text-align: center;
}

/* nav {
    position: relative;
    background-color: #DEBA6F;
    display: flex;
    height: 30px;
    border-bottom: solid black 2px;   
} */


/* span {
    right: 0;
    background: none;
    font-size: 2em;
    height: 100%;
  
    
} */
/* nav form {
    position: absolute;
    display: inline;
    height: 100%;
    right: 0;
} */
/* nav input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    right: 0;
    height: 100%;
    width: 100px;
    background-color: skyblue;
    border-style: none;
    font-size: 20px;
    color: white;
} */
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
input:hover {
    cursor: pointer;
}

li {
    transition: background-color .7s linear;
    opacity: .7;
}

li:hover {
    background-color: rgba(0, 0, 255, 0.6);
}
.navbar{
    width: 100%
}
.logout {
    position: fixed;
    right: 0;
}
ul{
    width: 100%;
}
