* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--purple-light: #6f4a8e;
	--purple-dark: #221f3b;
	--black: #050505;
	--white: #ebebeb;
	--purple-dark-transparent: rgba(5, 5, 5, 0.8);
}

body {
	height: 100vh;
	width: 100vw;
	background-color: var(--purple-dark);
}

a {
	font-size: 1.5em;
}

header h1 {
	font-size: 4em;
	text-align: center;
	color: var(--white);
}


.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
}

input:hover {
	cursor: pointer;
}

li {
	transition: background-color 0.7s linear;
	transition: opacity 0.7s linear;
	list-style-type: none;
}

nav li:hover {
	background-color: var(--black);
	color: var(--purple-light);
	opacity: 1;
}
.navbar {
	width: 100%;
}
.logout {
	position: absolute;
	right: 0;
	height: 100%;
}

ul {
	width: 100%;
}

.hr {
	background-color: #f7f7ef;
}
