* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    
}

.flexbox {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 40, 50);
    bottom: 0;
    position: fixed;
}

.content {
    position: absolute;
    background-color: rgb(19, 32, 42);
    border-radius: 20px;
    padding: 20px;
}
header {
    text-align: center;
    color: #DEBA6F;
}
.content h1 {
    color: #DEBA6F;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}
input{
    font-size: 1.5em;
    width: 200px;
    background-color: #343A40;
    color: #1868C5;
    border-style: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #1868C5;
    transition: transform linear .3s;
    display: block;
    transform-origin: left;
    font-size: 2em;
}

input {
    width: 200px;
    height: 30px;
    font-size: 16px;
}

.storeData {
    font-size: 2em;
}

a:hover {
    transform: scale(1.1);
}

#flexbox {
    position: absolute;
    background: none;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#new-list-div {
    position: relative;
    margin: 5px;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 50vw;
}

#list-div {
    border-radius: 20px;
    position: relative;
    padding: 20px;
    margin: 5px;
    height: 100px;
}

.list-product {
    padding-bottom: 1px;
    padding-top: 5px;
    list-style-type: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 104px;
    z-index: 10;
}