* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #823038;
}

div {
    position: absolute;
    background-color: #DEBA6F;
    border-radius: 20px;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 50vw;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s linear;
    display: block;
    transform-origin: left;
    font-size: 2em;
}

input {
    width: 200px;
    height: 30px;
    font-size: 16px;
}

.storeData {
    font-size: 2em;
}

a:hover {
    transform: scale(1.1);
}

#flexbox {
    position: absolute;
    background: none;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#new-list-div {
    position: relative;
    margin: 5px;
}

#list-div {
    border-radius: 20px;
    position: relative;
    padding: 20px;
    margin: 5px;
    height: 100px;
}

.list-product {
    padding-bottom: 1px;
    padding-top: 5px;
    list-style-type: none;
}