* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    
}

.flexbox {
    display: flex;
    width: 100vw;
    height: calc(100vh - 104px);
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 40, 50);
    bottom: 0;
    position: fixed;
    /* overflow-y: scroll; */
}

.content {
    position: absolute;
    
    border-radius: 20px;
    padding: 20px;
    top: 50px;
    overflow: hidden;
    bottom: 30px;
    overflow-y: scroll;
    min-width: 580px;
    color: #DEBA6F;
}

.content::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

/* a {
    text-decoration: none;
    color: black;
    transition: .3s linear;
    display: block;
    transform-origin: left;
    font-size: 2em;
} */

/* input {
    width: 200px;
    height: 30px;
    font-size: 16px;
} */

input {
    font-size: 1.5em;
    width: 200px;
}

select {
    font-size: 1.5em;
    height: 40px;
}



.storeData {
    font-size: 2em;
}

/* a:hover {
    transform: scale(1.1);
}  fix later*/

#flexbox {
    position: absolute;
    background: none;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#new-list-div {
    position: relative;
    margin: 5px;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 50vw;
}

#list-div {
    border-radius: 20px;
    position: relative;
    padding: 20px;
    margin: 5px;
    height: 100px;
}

.list-product {
    padding-bottom: 1px;
    padding-top: 5px;
    list-style-type: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 104px;
    z-index: 10;
}

.line {
    margin: 3px;
    background-color: #F7F7EF;
}

.products-list {
    margin: 0;
    padding-left: 5px;
    font-size: 1.5em;
}

.list-delete {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #1868C5;
}

.store-delete {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #DEBA6F;
}

.list-show {
    border: solid #DEBA6F 2px;
    background-color: rgb(19, 32, 42);
}
