<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists Display Page</title>
</head>
<body>
    <h1>Your Lists:</h1>
    
        <% lists.forEach(list => { %> 
            <p>
                <%= list.name %>
            </p>
        <% }) %>
</body>
</html>